{% extends 'base.html' %}
{% load i18n %}
{% load thumbnail %}

{% block content %}
<h3>{{ profile.user.username |capfirst }} {{ profile.user.lastname }}</h3>
{% thumbnail profile.avatar "200x200" crop="center" format="PNG" as thumb %}
    <img src="{{ thumb.url }}" alt="{{profile.user.username}} {% translate 'profile cover' %}">
{% endthumbnail %}
<h5>{{ profile.user.email }}</h5>
<h4>{{ profile.role.get_category_display }}</h4>
<div class="controls">
  <a href="{% url 'users:edit-profile' profile %}">{% translate 'Edit profile' %}</a>
  {% if profile.role == 'S' %}
    <a href="{% url 'users:leave' profile %}">{% translate 'Leave platform' %}</a>
  {% endif %}
</div>
<p>{{ profile.bio }}</p>
{% endblock %}