{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/mark_list.css" %}">


<div class="container mb-4">
  <div class="row">
    <h2 class="col text-center mt-5">{{subject.code}} {% translate 'marks' %}</h2>
  </div>
</div>

<div class="container marksNav mb-5">
  <div class="row">
    <div class="col text-center">
      <a href={{ subject.get_absolute_url }}>{% translate 'Go back' %}</a>
    </div>
    <div class="col text-center">
      <a href="{% url 'subjects:edit-marks' subject %}">{% translate 'Edit marks' %}</a>
    </div>
  </div>
</div>
<div class="marks container p-3 text-center">
  {% for module in modules %}
    <p><a href="{{ module.student.profile.get_absolute_url }}">{{module.student.first_name}} {{module.student.last_name}}</a>: {{module.mark}}</p>
  {% empty %}
    <p>{% translate "This subject is empty" %}</p>
  {% endfor %}
</div>
{% endblock %}