{% load i18n %}
{% if certificate %}
  <div class="certificate">
    <a href="{% url 'subjects:request-certificate' %}">{% translate 'Get your certificate of qualifications!' %}</a>
  </div>
{% endif %}
<a href="{% url 'subjects:enroll-subjects' %}">{% translate 'Enroll in subjects' %}</a>

<a href="{% url 'subjects:unenroll-subjects' %}">{% translate 'Cancel subjects' %}</a>

<div class="subjects">
  {% for subject in subjects %}
  <div class="subject">
    <p>{{ subject }}</p>
    <a href="{{ subject.get_absolute_url }}">{% translate 'Details' %}</a>
  </div>
  {% empty %}
  <p>{% translate 'No subjects yet' %}</p>
  {% endfor %}
</div>
