{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h1>{{subject.code}}</h1>
<h3>{{subject.name}}</h3>
<h4>{% translate 'Teacher:' %} {{subject.teacher}}</h4>

{% if user.profile.role == 'S' and mark %}
  <p>{% translate 'Your mark for this subject:' %} {{ mark }}</p>
{% endif %}

<a href="{% url 'subjects:subject-list' %}">{% translate 'Go back' %}</a>

{% if user.profile.role == 'T' %}
  <a href="{% url 'subjects:mark-list' subject %}">{% translate 'See all marks' %}</a>
  <a href="{% url 'subjects:add-lesson' subject %}">{% translate 'New lesson' %}</a>
{% endif %}

{% if subject.lessons %}
  <div class="lessons">
{% for lesson in subject.lessons.all %}
  <div class="lesson">
    <h5>{{lesson.title}}</h5>
    <div class="controls">
    <a href="{{ lesson.get_absolute_url }}">{% translate 'Details' %}</a>
    {% if user.profile.role == 'T' %}
      <a href="{% url 'subjects:edit-lesson' subject lesson %}">{% translate 'Edit lesson' %}</a>
      <a href="{% url 'subjects:delete-lesson' subject lesson %}">{% translate 'Delete lesson' %}</a>
    {% endif %}
    </div>
  </div>
{% endfor %}
  </div>
{% else %}
  <p>{% translate 'There is no lessons yet' %}</p>
{% endif %}
{% endblock %}
