.logo-link {
  text-decoration: none;
  color: #0d6efd;
  display: inline-block;
  margin-bottom: 2rem;
}

.title-lang {
  margin-top: 30px;
}

.col-md:first-child a {
  text-decoration: none;
  padding: 15px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: bolder;
  border: solid #0d6dfd83 2px;
  border-radius: 100%;
}

.col-md a:not(.col-md:first-child a) {
  text-decoration: none;
  padding: 15px;
  font-weight: bolder;
  border: solid #0d6dfd83 2px;
  border-radius: 10px;
}

.col-md a:hover {
  color: white;
  border: none;
  background-color: #0d6efd;
}

.buttons,
a:hover {
  color: white;
}
