.badge a {
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
}

.titleNav .col a {
  padding: 10px;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
}

.titleNav .col a:hover {
  color: white;
  background-color: #0d6efd;
}

.subjects {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.subjects:hover {
  color: white;
  background-color: #0d6efd;
  border: none;
}
