{% load shared_extras %}
{% load i18n %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/header.css' %}">

<div class="container title-lang">
  <div class="row">
    <a href="{% url 'index'%}" class="logo-link col align-content-center">
      <h1 class="display-4"><i class="bi bi-mortarboard-fill me-2">Lumino</i></h1>
    </a>
    <div class="lang col align-content-end text-end">
      {% setlang %}
    </div>
  </div>
</div>

{% if user.is_authenticated %}
<div class="auth">
    <p>{{user}}</p>
    <a href="{% url 'subjects:subject-list' %}">{% translate 'Subjects' %}</a>
    <a href="{% url 'users:user-detail' request.user.profile %}">{% translate 'Profile' %}</a>
    <a href="{% url 'logout' %}">{% translate 'logout' %}</a>
</div>
{% endif %}